@charset "UTF-8";

#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li{width:100%;}
#skip li a{display:block;width:100%;line-height:0;background:#000;color:#fff;font-size:0;text-align:center;}
#skip li a:focus{line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;overflow:hidden;}
/* 스크롤 이벤트-마우스 방향(맨위, 위, 아래) */ 
#wrap #header{z-index:3;position:fixed;top:0;left:0;width:100%;height:72px;background:rgba(255, 255, 255, .9);transition:all .3s;}
#wrap #header.addH60{height:60px;} /* 스크롤탑 값이 0보다 크면 높이 60 */
#wrap #header.addH60.addHide{top:-60px;} /* 스크롤 아래로 */
#wrap #header.addH60.addShow{top:0;} /* 스크롤 위로 */

#wrap #header .container{position:relative;width:100%;max-width:1170px;margin:0 auto;height:100%;padding:0 15px;}
#wrap #header .container .wrap{width:100%;height:100%;display:flex;}
#wrap #header .container .wrap .logo {width:105px;height:100%;display:flex;margin:0 auto 0 0;}
#wrap #header .container .wrap .logo a {width:100%;margin:auto;}
#wrap #header .container .wrap .logo a img{width:100%;}
/* 메뉴 */
#wrap #header .container .wrap .navigation {width:auto;margin:0 0 0 auto;display:flex;}
#wrap #header .container .wrap .navigation #nav{width:auto;}
#wrap #header .container .wrap .navigation #nav > ul{display:flex;}
#wrap #header .container .wrap .navigation #nav > ul > li{padding:0 20px;}
#wrap #header .container .wrap .navigation #nav > ul > li:nth-child(2), /* sub2가 밖으로 못 나가도록, fixed 따라가니까 */
#wrap #header .container .wrap .navigation #nav > ul > li:nth-child(4){position:relative;} 
#wrap #header .container .wrap .navigation #nav > ul > li > a{display:block;height:72px;line-height:72px;font-size:12px;font-weight:600;transition:all .3s;color:#000;}
#wrap #header.addH60 .container .wrap .navigation #nav > ul > li > a{height:60px;line-height:60px;}
#wrap #header .container .wrap .navigation #nav > ul > li > a:hover{color:#e85313e0;}
/* 서브메뉴-전체정리 */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub{position:absolute;top:72px;left:0;width:100%;background:#1c1c1c;}
#wrap #header.addH60 .container .wrap .navigation #nav > ul > li > .sub{top:60px;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub1{display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub3{display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24.sub2{display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24.sub4{display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24{display:block;width:225px;background:#1c1c1c;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub5{display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub6{display:none;}

/* 서브메뉴 공통영역 */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap {padding:30px 50px 40px 50px;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul{display:flex;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li{width:25%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl{width:100%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dt{width:100%;padding:10px 0 0 0;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dt a{color:#fff;display:block;line-height:280%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dd{width:100%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dd a{color:#9d9d9d;display:block;line-height:220%;font-size:12px;transition:all .3s;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dd a:hover{padding-left:5px;color:#fff;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dd a i.new-deco{display:inline-block;background:#e85313e0;padding:0 5px;color:#fff;line-height:150%;margin:0 0 0 7px;font-weight:500;font-size:10px;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dt img {width:85%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub .sub-wrap ul li dl dd img {width:85%;}
/* sub24 */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap {padding:20px 30px;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul {display:block;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li{width:100%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li > a{color:#9d9d9d;display:block;line-height:220%;font-size:12px;transition:all .3s;display:flex;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li > a:hover{padding-left:5px;color:#fff;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li > a > i.icon-arrow{color:#9d9d9d;margin:0 5px 0 auto;transition:all .3s;font-weight:800;line-height:220%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li > a:hover > i.icon-arrow{color:#fff;margin-right:0;}
/* sub24-sub */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li{position:relative;} /* sub-sub가 못 나가도록 */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub {position:absolute;top:-20px;left:196px;width:225px;background:#1c1c1c;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub ul {display:block;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub ul li {width:100%;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub ul li a {color:#9d9d9d;display:block;line-height:220%;font-size:12px;transition:all .3s;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub ul li a:hover {color:#fff;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub2-1 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub2-2 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub2-3 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub2-4 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub2-5 {display:none;}

#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-1 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-2 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-3 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-4 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-5 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-6 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-7 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-8 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-9 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-10 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub.sub4-11 {display:none;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub24 .sub-wrap > ul > li .sub-sub .sub-sub-wrap {padding:20px 30px;}
/* sub3-sub */
#wrap #header .container .wrap .navigation #nav > ul > li > .sub3 .sub-wrap ul li:last-child dl dt{text-align:right;padding:15px 0;}
#wrap #header .container .wrap .navigation #nav > ul > li > .sub3 .sub-wrap ul li:last-child dl dd{text-align:right;}

/* 모바일 햄버거 버튼 */
#wrap #header .container .wrap .navigation .mobile-btn-box {display:none;margin:auto 15px auto auto;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn{display:block;width:22px;height:14px;position:relative;overflow:hidden;transition:all .5s;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i{position:absolute;left:0;width:100%;height:2px;background:#555;transition:all .3s;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn:hover i{background:#e85313e0;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i:nth-child(1){top:0;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i:nth-child(2){top:50%;margin-top:-1px;transition:all .03s;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i:nth-child(3){bottom:0;}

#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i.addMobile:nth-child(1){top:50%;margin-top:-1px;transform:rotate(-45deg);}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i.addMobile:nth-child(2){left:-100%;}
#wrap #header .container .wrap .navigation .mobile-btn-box .mobile-btn i.addMobile:nth-child(3){bottom:50%;margin-bottom:-1px;transform:rotate(45deg);}

/* 검색&장바구니 아이콘 */
#wrap #header .container .wrap .navigation #aside{display:flex;width:146px;}
#wrap #header .container .wrap .navigation #aside span{width:50%;display:flex;}
#wrap #header .container .wrap .navigation #aside span a{color:#232323;margin:auto;border-left:1.5px solid #e85313e0;padding-left:30px;}
#wrap #header .container .wrap .navigation #aside span a i{font-size:14px;transition:all .3s;}
#wrap #header .container .wrap .navigation #aside span a i:hover{color:#e85313e0;}


#wrap #main{z-index:1;position:relative;overflow:hidden;}
#wrap #main #section1{min-width:100vw;}
#wrap #main #section1 .container{width:100%;}
#wrap #main #section1 .container .wrap{width:100%;}
#wrap #main #section1 .container .wrap .slide-container {width:100%;position:relative;}
#wrap #main #section1 .container .wrap .slide-container .slide-view{width:100%;overflow:hidden;cursor:url(../img/icon-move-light.png),e-resize;position:relative;z-index:1;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap{width:500%;display:flex;margin-left:-100%;position:relative;left:calc(-100%*0);}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide{width:100%;min-height:100vh;display:flex;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide1{background:url(../img/achieve-g02ac1b950_1920.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide2{background:url(../img/active-g75977b58e_1920.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide3{background:url(../img/athlete-g3b50b373d_1920.jpg) no-repeat 50% 50%;background-size:cover;}

#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title{text-align:center;margin:auto;color:#fff;width:100%;cursor:url(../img/icon-move-light.png),e-resize;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h3{font-size:18px;position:relative;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h3::after{content:'';display:block;position:absolute;width:100%;height:110%;top:0;left:0;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h2{font-size:70px;font-weight:700;padding:30px 0;position:relative;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title h2::after{content:'';display:block;position:absolute;width:100%;height:110%;top:0;left:0;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title p{font-size:12px;width:100%;font-weight:600;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title p a{display:inline-block;width:180px;height:40px;background:rgba(255, 255, 255, 1);text-align:center;border-radius:20px;line-height:35px;border:2px solid #fff;transition:all .3s;color:#000;}
#wrap #main #section1 .container .wrap .slide-container .slide-view .slide-wrap .slide .title p a:hover{background:transparent;color:#fff;}

/* 페이지버튼 */
#wrap #main #section1 .container .wrap .slide-container .page-wrap {z-index:2;position:absolute;bottom:60px;left:0;width:100%;height:4px;text-align:center;}
#wrap #main #section1 .container .wrap .slide-container .page-wrap li{width:7.5%;height:100%;display:inline-block;margin:0 10px;}
#wrap #main #section1 .container .wrap .slide-container .page-wrap li .page-btn{display:block;width:100%;height:100%;background:#fff;opacity:.5;}
#wrap #main #section1 .container .wrap .slide-container .page-wrap li .page-btn.currentPage{opacity:1;}


#wrap #main #section2{width:100%;padding:130px 0;background:#f6f4f3;overflow:hidden;}
#wrap #main #section2 .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section2 .container .wrap{width:100%;}
#wrap #main #section2 .container .wrap .title{width:100%;text-align:center;padding:0 0 90px 0;}
#wrap #main #section2 .container .wrap .title > h2{font-size:15px;color:#939393;font-weight:600;letter-spacing:1px;padding:0 0 10px 0;}
#wrap #main #section2 .container .wrap .title > p{font-size:25px;color:#232323;font-family:'Noto Sans';line-height:160%;font-weight:100;}
#wrap #main #section2 .container .wrap .title > p strong{vertical-align:baseline;color:#e85313e0}

#wrap #main #section2 .container .wrap .content{width:100%;}
#wrap #main #section2 .container .wrap .content ul{display:flex;}
#wrap #main #section2 .container .wrap .content ul li{width:33.333%;position:relative;}
#wrap #main #section2 .container .wrap .content ul li .gap{padding:0 15px;position:relative;}
#wrap #main #section2 .container .wrap .content ul li .gap .img-box{width:100%;}
#wrap #main #section2 .container .wrap .content ul li .gap .img-box img{width:100%;}

#wrap #main #section2 .container .wrap .content ul li .gap .text-box{width:100%;background:#fff;text-align:center;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div{padding:45px;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div h3{font-size:17px;font-weight:600;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div p{font-size:14px;color:#6f6f6f;line-height:160%;font-family:'Noto Sans';padding:13px 0 25px 0;font-weight:300;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div span{display:block;width:210px;height:40px;margin:0 auto;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div span a{display:block;width:100%;height:100%;text-align:center;border:2px solid #e85313e0;border-radius:20px;line-height:37px;font-weight:600;font-size:14px;transition:all .3s;color:#e85313e0;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div span a:hover{color:#fff;background:#e85313e0;}
#wrap #main #section2 .container .wrap .content ul li .gap .text-box div span a i{margin-left:5px;font-size:20px;}

/* 애니메이션 구현 */
#wrap #main #section2 .container .wrap .title{transform:translateY(300px);opacity:0;} 
#wrap #main #section2 .container .wrap .title.addParallax{animation:sec2Title .8s ease-in-out;animation-fill-mode:forwards;}
@keyframes sec2Title{
      0% {transform:translateY(300px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
} 
#wrap #main #section2 .container .wrap .content ul li.col1{transform:translateY(1000px);opacity:0;}
#wrap #main #section2 .container .wrap .content ul li.col2{transform:translateY(1000px);opacity:0;}
#wrap #main #section2 .container .wrap .content ul li.col3{transform:translateY(1000px);opacity:0;}

#wrap #main #section2 .container .wrap .content ul li.col1.addParallax{animation:sec2Col1 1s ease-in-out forwards;}
@keyframes sec2Col1 {
      0%{transform:translateY(1000px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section2 .container .wrap .content ul li.col2.addParallax{animation:sec2Col2 1.2s ease-in-out forwards;}
@keyframes sec2Col2 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section2 .container .wrap .content ul li.col3.addParallax{animation:sec2Col3 1.4s ease-in-out forwards;}
@keyframes sec2Col3 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}



#wrap #main #section3{width:100%;padding:130px 0;background:#1c1c1c;overflow:hidden;}
#wrap #main #section3 .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section3 .container .wrap{width:100%;}
#wrap #main #section3 .container .wrap .title {width:100%;text-align:center;padding:0 0 90px 0;}
#wrap #main #section3 .container .wrap .title h2{font-size:17px;font-weight:500;color:#939393;padding:0 0 10px 0;}
#wrap #main #section3 .container .wrap .title h3{font-size:32px;font-weight:600;color:#fff;}

#wrap #main #section3 .container .wrap .content {width:100%;}
#wrap #main #section3 .container .wrap .content ul{display:flex;}
#wrap #main #section3 .container .wrap .content ul li{width:25%;}
#wrap #main #section3 .container .wrap .content ul li .gap{padding:0 15px;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box{width:100%;background:#fff;text-align:center;padding:30px 0 40px 0;position:relative;z-index:1;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box::after{display:block;content:'';width:100%;height:3px;position:absolute;bottom:0;left:0;z-index:2;background:#e85313e0;transition:all .2s;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box:hover::after{height:100%;background:#343434;transition:all .2s;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box .text-gap{padding:32px;position:relative;z-index:3;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box .text-gap span{display:block;padding:0 0 30px 0;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box .text-gap span i{font-size:50px;color:#e85313e0;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box .text-gap h3{font-size:16px;color:#232323;font-weight:600;padding:0 0 20px 0;transition:all .2s;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box:hover .text-gap h3{color:#fff;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box .text-gap p{font-size:14px;line-height:170%;color:#6f6f6f;font-weight:300;transition:all .2s;}
#wrap #main #section3 .container .wrap .content ul li .gap .text-box:hover .text-gap p{color:#fff;}

/* 애니메이션 구현 */
#wrap #main #section3 .container .wrap .title {transform:translateY(300px);opacity:0;}
#wrap #main #section3 .container .wrap .title.addParallax {animation:sec3Title 0.8s ease-in-out forwards;}
@keyframes sec3Title {
      0%{transform:translateY(300px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section3 .container .wrap .content ul li.col1{transform:translateY(1000px);opacity:0;}
#wrap #main #section3 .container .wrap .content ul li.col1.addParallax{animation:sec3Col1 1s ease-in-out forwards;}
@keyframes sec3Col1 {
      0%{transform:translateY(1000px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section3 .container .wrap .content ul li.col2{transform:translateY(1000px);opacity:0;}
#wrap #main #section3 .container .wrap .content ul li.col2.addParallax{animation:sec3Col2 1.2s ease-in-out forwards;}
@keyframes sec3Col2 {
      0%{transform:translateY(1000px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section3 .container .wrap .content ul li.col3{transform:translateY(1000px);opacity:0;}
#wrap #main #section3 .container .wrap .content ul li.col3.addParallax{animation:sec3Col3 1.4s ease-in-out forwards;}
@keyframes sec3Col3 {
      0%{transform:translateY(1000px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section3 .container .wrap .content ul li.col4{transform:translateY(1000px);opacity:0;}
#wrap #main #section3 .container .wrap .content ul li.col4.addParallax{animation:sec3Col4 1.6s ease-in-out forwards;}
@keyframes sec3Col4 {
      0%{transform:translateY(1000px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}


#wrap #main #section4{width:100%;background:#fff;overflow:hidden;}
#wrap #main #section4 .container{width:100%;}
#wrap #main #section4 .container .wrap{width:100%;}
/* 갤러리 메뉴박스 */
#wrap #main #section4 .container .wrap .menu {width:100%;}
#wrap #main #section4 .container .wrap .menu .menu-container{width:100%;max-width:1170px;height:180px;margin:0 auto;display:flex;}
#wrap #main #section4 .container .wrap .menu .menu-container > ul{text-align:center;margin:auto;}
#wrap #main #section4 .container .wrap .menu .menu-container > ul > li{display:inline-block;margin:0 25px;}
#wrap #main #section4 .container .wrap .menu .menu-container > ul > li > a{font-size:12px;color:#6f6f6f;transition:all .3s;font-weight:600;}
#wrap #main #section4 .container .wrap .menu .menu-container > ul > li > a:hover{text-decoration:underline;color:#232323;}
/* 갤러리 컨텐츠박스 */
#wrap #main #section4 .container .wrap .gallery-contents {width:100%;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery{width:100%;display:flex;flex-flow:row wrap;position:relative;height:calc(386.546875px*2);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li{position:absolute;transition:all .3s ease-in-out;}

/* 가로 4개인 경우 */
#wrap #main #section4 .container .wrap .gallery-contents .gallery {height:calc(386.546875px*2);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(1){width:475.75px;height:386.546875px;left:calc(475.75px*0);top:calc(386.546875px*0);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(2){width:475.75px;height:386.546875px;left:calc(475.75px*1);top:calc(386.546875px*0);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(3){width:475.75px;height:386.546875px;left:calc(475.75px*2);top:calc(386.546875px*0);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(4){width:475.75px;height:386.546875px;left:calc(475.75px*3);top:calc(386.546875px*0);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(5){width:475.75px;height:386.546875px;left:calc(475.75px*0);top:calc(386.546875px*1);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(6){width:475.75px;height:386.546875px;left:calc(475.75px*1);top:calc(386.546875px*1);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(7){width:475.75px;height:386.546875px;left:calc(475.75px*2);top:calc(386.546875px*1);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li:nth-child(8){width:475.75px;height:386.546875px;left:calc(475.75px*3);top:calc(386.546875px*1);}

#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap{width:100%;position:relative;transform:scale(0);transition:all .4s ease-in-out;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.addParallax > .gap{transform:scale(1);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.addGallery > .gap{transform:scale(1);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap img{width:100%;position:relative;z-index:1;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a{width:100%;position:absolute;z-index:2;top:0;left:0;height:100%;background:rgba(0, 0, 0, 0);transition:all .3s;display:flex;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a:hover{background:rgba(0, 0, 0, .85);}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a span{margin:auto;color:#fff;text-align:center;transform:translateY(20px);opacity:0;transition:all .25s ease-in-out;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a:hover span{transform:translateY(0);opacity:1;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a span i{display:inline-block;width:75px;height:1px;background:#e85313e0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a span strong{display:block;font-weight:600;padding:30px 0 10px 0;font-size:14px;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li > .gap a span em{display:block;color:#939393;font-size:12px;font-family:'Roboto';font-weight:300;}

/* 애니메이션 구현 */
#wrap #main #section4 .container .wrap .menu.title {transform:translateY(300px);opacity:0;}
#wrap #main #section4 .container .wrap .menu.title.addParallax {animation:sec4Title 0.8s ease-in-out forwards;}
@keyframes sec4Title {
      0% {transform:translateY(300px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col1{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col1.addParallax{animation:sec4Row1Col1 1s ease-in-out forwards;}
@keyframes sec4Row1Col1 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col2{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col2.addParallax{animation:sec4Row1Col2 1.2s ease-in-out forwards;}
@keyframes sec4Row1Col2 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col3{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col3.addParallax{animation:sec4Row1Col3 1.4s ease-in-out forwards;}
@keyframes sec4Row1Col3 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col4{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row1-col4.addParallax{animation:sec4Row1Col4 1.6s ease-in-out forwards;}
@keyframes sec4Row1Col4 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col1{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col1.addParallax{animation:sec4Row2Col1 1s ease-in-out forwards;}
@keyframes sec4Row2Col1 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col2{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col2.addParallax{animation:sec4Row2Col2 1.2s ease-in-out forwards;}
@keyframes sec4Row2Col2 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col3{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col3.addParallax{animation:sec4Row2Col3 1.4s ease-in-out forwards;}
@keyframes sec4Row2Col3 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col4{transform:translateY(1000px);opacity:0;}
#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.row2-col4.addParallax{animation:sec4Row2Col4 1.6s ease-in-out forwards;}
@keyframes sec4Row2Col4 {
      0% {transform:translateY(1000px);opacity:0;}
    100% {transform:translateY(0);opacity:1;}
}

#wrap #main #section4 .container .wrap .gallery-contents .gallery > li.addGallery{transform:translateY(0);opacity:1;}


#wrap #main #section5{width:100%;padding:130px 0;background:#fff;}
#wrap #main #section5 .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section5 .container .wrap{width:100%;}
#wrap #main #section5 .container .wrap .content {width:100%;}
#wrap #main #section5 .container .wrap .content .svg-box{display:flex;}
#wrap #main #section5 .container .wrap .content .svg-box li{width:25%;}
#wrap #main #section5 .container .wrap .content .svg-box li > div{display:flex;flex-flow:column wrap;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap{position:relative;width:150px;height:150px;margin:auto;display:flex;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap svg.circle{position:relative;z-index:2;transform:rotate(-90deg);}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap svg.bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap span{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;line-height:150px;font-size:20px;font-weight:600;color:#555;}
#wrap #main #section5 .container .wrap .content .svg-box li > div h3{text-align:center;margin:0 auto;width:100%;padding:20px 0;font-size:14px;font-weight:500;color:#555;}

#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap.circle1{stroke-dasharray:465;stroke-dashoffset:calc(465*.1);animation:svg1 3s ease-in-out forwards;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap.circle2{stroke-dasharray:465;stroke-dashoffset:calc(465*.25);animation:svg2 3s ease-in-out forwards;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap.circle3{stroke-dasharray:465;stroke-dashoffset:calc(465*.15);animation:svg3 3s ease-in-out forwards;}
#wrap #main #section5 .container .wrap .content .svg-box li > div .svg-wrap.circle4{stroke-dasharray:465;stroke-dashoffset:calc(465*.07);animation:svg4 3s ease-in-out forwards;}


#wrap #main #section6{width:100%;background:#fff;}
#wrap #main #section6 .container{width:100%;}
#wrap #main #section6 .container .wrap{width:100%;}
#wrap #main #section6 .container .wrap .content {width:100%;}
#wrap #main #section6 .container .wrap .content .img-box{display:flex;flex-flow:row nowrap;padding:0 5px;}
#wrap #main #section6 .container .wrap .content .img-box > li{width:33.333%;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap{padding:0 5px;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents{width:100%;position:relative;overflow:hidden;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title{z-index:2;position:absolute;bottom:0px;left:0;width:100%;height:100%;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title::before{content:'';background:rgba(0, 0, 0, .7);z-index:2;position:absolute;bottom:0;left:0;width:100%;height:100%;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul{z-index:3;width:100%;position:absolute;bottom:-50px;left:0;padding:50px;transition:all .3s ease-in-out;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents:hover .img-title ul{bottom:0px;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li{width:100%;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li h2{color:#939393;font-size:14px;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li i{display:block;width:100%;height:1px;background:#e85313e0;margin:20px 0;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li h3{color:#fff;font-size:20px;line-height:140%;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li a{opacity:0;display:inline-block;font-weight:600;margin:25px 0 0 0;padding:10px 18px;border:2px solid #fff;color:#333;background:#fff;font-size:12px;transition:all .3s ease-in-out;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents:hover .img-title ul li a{opacity:1;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents .img-title ul li a:hover{color:#fff;background:transparent;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents img{width:100%;position:relative;z-index:1;transition:all .3s ease-in-out;}
#wrap #main #section6 .container .wrap .content .img-box > li .gap .img-contents:hover img{transform:scale(1.15);}
/* 애니메이션 */
#wrap #main #section6 .container .wrap .content .img-box > li:nth-child(1){transform:translateY(500px);opacity:0;}
#wrap #main #section6.addParallax .container .wrap .content .img-box > li:nth-child(1){animation:sec6Col1 1s ease-in-out forwards;}
@keyframes sec6Col1 {
    0%{transform:translateY(500px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section6 .container .wrap .content .img-box > li:nth-child(2){transform:translateY(500px);opacity:0;}
#wrap #main #section6.addParallax .container .wrap .content .img-box > li:nth-child(2){animation:sec6Col2 1.2s ease-in-out forwards;}
@keyframes sec6Col2 {
    0%{transform:translateY(500px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section6 .container .wrap .content .img-box > li:nth-child(3){transform:translateY(500px);opacity:0;}
#wrap #main #section6.addParallax .container .wrap .content .img-box > li:nth-child(3){animation:sec6Col3 1.4s ease-in-out forwards;}
@keyframes sec6Col3 {
    0%{transform:translateY(500px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}

#wrap #main #section7{width:100%;padding:130px 0;background:#fff;}
#wrap #main #section7 .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section7 .container .wrap{width:100%;}
#wrap #main #section7 .container .wrap .title {padding:0 0 70px 0;text-align:center;}
#wrap #main #section7 .container .wrap .title > h2{font-size:12px;color:#939393;padding:0 0 10px 0;}
#wrap #main #section7 .container .wrap .title > h3{font-size:32px;color:#232323;font-weight:600;line-height:130%;}

#wrap #main #section7 .container .wrap .content {width:100%;}
#wrap #main #section7 .container .wrap .content > ul{display:flex;flex-flow:row nowrap;}
#wrap #main #section7 .container .wrap .content > ul > li{width:25%;}
#wrap #main #section7 .container .wrap .content > ul > li .gap{margin:0 15px;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents{width:100%;height:100%;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap{width:100%;position:relative;overflow:hidden;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap img{width:100%;z-index:1;position:relative;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption{z-index:2;position:absolute;top:0;left:0;width:100%;height:100%;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption::before{z-index:2;position:absolute;top:100%;left:0;width:100%;height:100%;content:'';background:rgba(0, 0, 0, .8);transition:all .3s ease-in-out;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents:hover .col-wrap .img-caption::before{top:0%;}

#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul{opacity:0;z-index:3;position:absolute;bottom:20px;left:0;width:100%;text-align:center;padding:35px;transition:all .3s ease-in-out;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents:hover .col-wrap .img-caption ul{bottom:0;opacity:1;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li{line-height:150%;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li p{color:#fff;font-family:'Roboto';font-weight:300;font-size:12px;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li > i{display:block;width:100%;height:1px;background:#e85313e0;margin:15px 0;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li span{margin:0 7px;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li span a{color:#fff;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .col-wrap .img-caption > ul > li span a > i{font-size:14px;}

#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .name-title{text-align:center;padding:25px 0;line-height:140%;font-family:'Roboto';}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .name-title > h2{font-size:12px;color:#232323;font-weight:600;}
#wrap #main #section7 .container .wrap .content > ul > li .gap .sec7-contents .name-title > h3{font-size:11px;color:#939393;}
/* 애니메이션 */
#wrap #main #section7 .container .wrap .content > ul > li:nth-child(1){transform:translateX(700px);opacity:0;}
#wrap #main #section7.addParallax .container .wrap .content > ul > li:nth-child(1){animation:sec7Col1 1s ease-in-out forwards;}
@keyframes sec7Col1 {
    0%{transform:translateX(700px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}
#wrap #main #section7 .container .wrap .content > ul > li:nth-child(2){transform:translateX(700px);opacity:0;}
#wrap #main #section7.addParallax .container .wrap .content > ul > li:nth-child(2){animation:sec7Col2 1.2s ease-in-out forwards;}
@keyframes sec7Col2 {
    0%{transform:translateX(700px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}
#wrap #main #section7 .container .wrap .content > ul > li:nth-child(3){transform:translateX(700px);opacity:0;}
#wrap #main #section7.addParallax .container .wrap .content > ul > li:nth-child(3){animation:sec7Col3 1.4s ease-in-out forwards;}
@keyframes sec7Col3 {
    0%{transform:translateX(700px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}
#wrap #main #section7 .container .wrap .content > ul > li:nth-child(4){transform:translateX(700px);opacity:0;}
#wrap #main #section7.addParallax .container .wrap .content > ul > li:nth-child(4){animation:sec7Col4 1.6s ease-in-out forwards;}
@keyframes sec7Col4 {
    0%{transform:translateX(700px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}


#wrap #main #section8{width:100%;background:#1c1c1c;}
#wrap #main #section8 .container{width:100%;}
#wrap #main #section8 .container .wrap{width:100%;}
#wrap #main #section8 .container .wrap .content {width:100%;}
#wrap #main #section8 .container .wrap .content ul{width:100%;display:flex;}
#wrap #main #section8 .container .wrap .content ul li{width:50%;}
#wrap #main #section8 .container .wrap .content ul li .bg-img{width:100%;height:100%;background:url(../img/running-track-g511921def_1920.jpg) no-repeat 50% 50%;background-size:cover;}

#wrap #main #section8 .container .wrap .content ul li .text-box{width:100%;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap{padding:138.219px;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text{width:100%;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text h2{color:#939393;font-size:16px;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text h3{padding:25px 0;line-height:130%;color:#fff;font-size:40px;font-weight:500;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text p{color:#6f6f6f;font-size:14px;font-weight:300;line-height:200%;font-family:'Roboto';}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text span{display:block;padding:35px 0 0 0;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text span a{display:inline-block;height:40px;line-height:37px;border-radius:20px;border:2px solid #fff;text-align:center;color:#232323;background:#fff;width:204px;font-size:12px;font-weight:600;text-transform:uppercase;transition:all .3s ease-in-out;}
#wrap #main #section8 .container .wrap .content ul li .text-box .gap .text span a:hover{background:transparent;color:#fff;}
/* 애니메이션 */
#wrap #main #section8.addParallax .container .wrap .content ul li .bg-img{animation:sec8Img 1.3s ease-in-out forwards;}
@keyframes sec8Img {
    0%{transform:translateX(-1000px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}
#wrap #main #section8.addParallax .container .wrap .content ul li .text-box .gap .text{animation:sec8Txt 1.3s ease-in-out forwards;}
@keyframes sec8Txt {
    0%{transform:translateX(1000px);opacity:0;}
  100%{transform:translateX(0);opacity:1;}
}

#wrap #main #section9{width:100%;padding:130px 0;background:#fff;overflow:hidden;}
#wrap #main #section9 .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section9 .container .wrap{width:100%;}
#wrap #main #section9 .container .wrap .title{padding:0 0 70px 0;text-align:center;}
#wrap #main #section9 .container .wrap .title h2{font-size:12px;color:#939393;padding:0 0 20px 0;}
#wrap #main #section9 .container .wrap .title h3{font-size:32px;color:#232323;font-weight:600;line-height:120%;}

#wrap #main #section9 .container .wrap .content{width:100%;}
#wrap #main #section9 .container .wrap .content ul{display:flex;flex-flow:row wrap;}
#wrap #main #section9 .container .wrap .content ul li{width:25%;}
#wrap #main #section9 .container .wrap .content ul li .gap{padding:0 15px;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box{width:100%;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .img-box{overflow:hidden;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .img-box img{width:100%;transition:all .3s ease-in-out;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box:hover .img-box img{transform:scale(1.15);filter:brightness(.6);}

#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box{width:100%;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top{padding:30px 0 20px 0;border-bottom:1px solid #eee;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h4{font-size:11px;color:#939393;padding:0 0 10px 0;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h4 span{vertical-align:baseline;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h4 span i{display:inline-block;width:1px;height:10px;background:#939393;margin:0 10px;vertical-align:baseline;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h4 span > a{color:#939393;vertical-align:baseline;transition:all .3s;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h4 span > a:hover{color:#e85313e0;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h5{line-height:150%;font-family:'Roboto';}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h5 > a{font-size:16px;color:#232323;transition:all .3s;line-height:140%;font-weight:400;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .top h5 > a:hover{color:#e85313e0;}

#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .bottom{padding:20px 0 0 0;}
#wrap #main #section9 .container .wrap .content ul li .gap .col-box .text-box .bottom p{color:#6f6f6f;font-size:14px;font-family:'Roboto';font-weight:300;line-height:140%;letter-spacing:0.2;}
/* 애니메이션 */
#wrap #main #section9 .container .wrap .content ul li:nth-child(1){transform:translateY(1000px);opacity:0;}
#wrap #main #section9.addParallax .container .wrap .content ul li:nth-child(1){animation:sec9Col1 1s ease-in-out forwards;}
@keyframes sec9Col1 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section9 .container .wrap .content ul li:nth-child(2){transform:translateY(1000px);opacity:0;}
#wrap #main #section9.addParallax .container .wrap .content ul li:nth-child(2){animation:sec9Col2 1.2s ease-in-out forwards;}
@keyframes sec9Col2 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section9 .container .wrap .content ul li:nth-child(3){transform:translateY(1000px);opacity:0;}
#wrap #main #section9.addParallax .container .wrap .content ul li:nth-child(3){animation:sec9Col3 1.4s ease-in-out forwards;}
@keyframes sec9Col3 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}
#wrap #main #section9 .container .wrap .content ul li:nth-child(4){transform:translateY(1000px);opacity:0;}
#wrap #main #section9.addParallax .container .wrap .content ul li:nth-child(4){animation:sec9Col4 1.6s ease-in-out forwards;}
@keyframes sec9Col4 {
    0%{transform:translateY(1000px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}



#wrap #main #section10{width:100%;padding:80px 0;background:#e85313e0;overflow:hidden;}
#wrap #main #section10 .container{width:100%;max-width:1170px;margin:0 auto;padding:0 15px;}
#wrap #main #section10 .container .wrap{width:100%;}
#wrap #main #section10 .container .wrap .title{padding:0 0 70px 0;text-align:center;}
#wrap #main #section10 .container .wrap .title h2{font-size:14px;color:#eee;padding:0 0 20px 0;}
#wrap #main #section10 .container .wrap .title h3{font-size:32px;color:#232323;font-weight:700;line-height:120%;}

#wrap #main #section10 .container .wrap .content{width:100%;}
#wrap #main #section10 .container .wrap .content form{width:100%;text-align:center;}
#wrap #main #section10 .container .wrap .content form ul{width:70%;margin:0 auto;}
#wrap #main #section10 .container .wrap .content form ul li{width:100%;border-bottom:1px solid rgba(255, 255, 255, .5);}
#wrap #main #section10 .container .wrap .content form ul li:last-child{width:100%;border-bottom:0;padding:50px 0 0 0;}
#wrap #main #section10 .container .wrap .content form ul li div{padding:5px 0;}
#wrap #main #section10 .container .wrap .content form ul li div label{display:none;}
#wrap #main #section10 .container .wrap .content form ul li div input{width:100%;height:50px;border:0;background:transparent;padding:0 0 0 20px;font-size:18px;}
#wrap #main #section10 .container .wrap .content form ul li div input::placeholder{color:rgba(255, 255, 255, .7);}
#wrap #main #section10 .container .wrap .content form ul li div input:focus{outline:0;}
#wrap #main #section10 .container .wrap .content form ul li div button{background:transparent;color:#fff;border:2px solid rgba(255, 255, 255, .6);transition:all .3s;cursor:pointer;height:50px;padding:0 30px;font-weight:500;font-size:16px;}
#wrap #main #section10 .container .wrap .content form ul li div button:hover{background:#fff;color:#e85313e0;border:2px solid rgba(255, 255, 255, 1);}

/* member list 목록 테이블 */
#wrap #main #section10 .container .wrap .content .list-box {width:570px;margin:0 auto;padding:50px 0 0 0;}
#wrap #main #section10 .container .wrap .content .list-box table {width:100%;}
#wrap #main #section10 .container .wrap .content .list-box table th {height:50px;border-top:1px solid rgba(255,255,255, .4);border-bottom:1px solid rgba(255,255,255, .4);color:#eee;font-size:13px;}
#wrap #main #section10 .container .wrap .content .list-box table th:nth-child(1) {width:60px;}
#wrap #main #section10 .container .wrap .content .list-box table th:nth-child(2) {width:180px;}
#wrap #main #section10 .container .wrap .content .list-box table th:nth-child(3) {width:330px;}
#wrap #main #section10 .container .wrap .content .list-box table td {height:40px;border-bottom:1px solid rgba(255,255,255, .2);color:#ccc;text-align:center;}


/* 애니메이션 구현 */
#wrap #main #section10 .container .wrap .content form ul li:nth-child(1){transform:translateY(500px);opacity:0;}
#wrap #main #section10.addParallax .container .wrap .content form ul li:nth-child(1){animation:sec10Col1 1s ease-in-out forwards;}
@keyframes sec10Col1 {
    0% {transform:translateY(500px);opacity:0;}
  100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section10 .container .wrap .content form ul li:nth-child(2){transform:translateY(500px);opacity:0;}
#wrap #main #section10.addParallax .container .wrap .content form ul li:nth-child(2){animation:sec10Col2 1.2s ease-in-out forwards;}
@keyframes sec10Col2 {
    0% {transform:translateY(500px);opacity:0;}
  100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section10 .container .wrap .content form ul li:nth-child(3){transform:translateY(500px);opacity:0;}
#wrap #main #section10.addParallax .container .wrap .content form ul li:nth-child(3){animation:sec10Col3 1.4s ease-in-out forwards;}
@keyframes sec10Col3 {
    0% {transform:translateY(500px);opacity:0;}
  100% {transform:translateY(0);opacity:1;}
}
#wrap #main #section10 .container .wrap .content .list-box{transform:translateY(500px);opacity:0;}
#wrap #main #section10.addParallax .container .wrap .content .list-box{animation:sec10Col4 1.6s ease-in-out forwards;}
@keyframes sec10Col4 {
    0% {transform:translateY(500px);opacity:0;}
  100% {transform:translateY(0);opacity:1;}
}

#wrap #footer{z-index:2;position:relative;background:#1c1c1c;padding:95px 0 60px 0;}
#wrap #footer .container{width:100%;max-width:1170px;margin:0 auto;}
#wrap #footer .container .wrap{width:100%;}
#wrap #footer .container .wrap > ul{color:#6f6f6f;}
#wrap #footer .container .wrap > ul > li{width:100%;}
#wrap #footer .container .wrap > ul > li ul{display:flex;flex-flow:row nowrap;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li{width:33.333%;}
#wrap #footer .container .wrap > ul > li:nth-child(3) ul li{width:50%;}
#wrap #footer .container .wrap > ul > li ul li .gap{margin:0 15px}

#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap h2{font-size:25px;line-height:130%;padding:0 0 0 30px;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap address{font-size:14px;line-height:180%;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap address > a{font-size:14px;color:#6f6f6f;transition:all .5s;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap address > a:hover{color:#e85313e0;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap h1{width:100%;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap h1 > a{display:block;width:100%;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap h1 > a > img{height:28px;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap p{padding:15px 0 0 0;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap p span{margin:0 10px 0 0;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap p span a{color:#6f6f6f;font-size:11px;transition:all .5s;}
#wrap #footer .container .wrap > ul > li:nth-child(1) ul li .gap p span a:hover{color:#e85313e0;}

#wrap #footer .container .wrap > ul > li:nth-child(2){padding:30px 0;}
#wrap #footer .container .wrap > ul > li:nth-child(2) > .gap{margin:0 15px;}
#wrap #footer .container .wrap > ul > li:nth-child(2) > .gap i{display:block;width:100%;height:1px;background:rgba(255, 255, 255, .1);}

#wrap #footer .container .wrap > ul > li:nth-child(3){width:100%;}
#wrap #footer .container .wrap > ul > li:nth-child(3) h2{font-size:12px;}
#wrap #footer .container .wrap > ul > li:nth-child(3) p{text-align:right;font-size:12px;}
#wrap #footer .container .wrap > ul > li:nth-child(3) p > a{color:#6f6f6f;transition:all .5s;}
#wrap #footer .container .wrap > ul > li:nth-child(3) p > a:hover{color:#e85313e0;}




/* 고정메뉴박스 */
span.fixed-wrap{position:fixed;z-index:3;right:-110px;width:160px;transition:all .3s;height:28px;}
span.fixed-wrap:hover {right:-10px;background:#e85313e0;color:#fff;}
span.fixed-wrap a{display:block;width:100%;height:100%;line-height:25px;color:#6f6f6f;background:#fff;font-size:10px;padding:0 10px;}
span.fixed-wrap a:hover{background:#e85313e0;color:#fff;}
span.fixed-wrap a i{color:#333;font-size:17px;margin:0 10px 0 0;line-height:27px;transition:all .3s;}
span.fixed-wrap:hover a i{color:#fff;}
span.fixed-wrap a span{opacity:0;}
span.fixed-wrap:hover a span{opacity:1;}

span#theme-wrap{top:120px;}
span#question-wrap{top:163px;}

/* gotop 메뉴 */
#goTop {position:fixed;bottom:30px;right:20px;z-index:3;}
#goTop a{display:flex;width:50px;height:50px;text-align:center;background:rgba(255, 255, 255, .3);border-radius:25px;overflow:hidden;}
#goTop a i{color:#999;font-size:45px;margin:auto;transition:all .3s;}
#goTop a:hover i{color:#232323;}
